@charset "utf-8";

/*banner*/
#banner{width: 100%;height: 360px; background:url(../img/imagesmeizhuang/meibanner.jpg)no-repeat center center;}


/*main*/
main .list{width: 100%;height: 200px;}
main .list ul li{width: 320px; float: left;margin:40px 0 0 12px;}
main .list ul li img{width: 320px;}

main .hot{width: 100%;height: 550px;}
main .hot .top{width: 378px;height: 47px;background: url(../img/imagesnvzhuang/hot.png)no-repeat;margin: 30px auto;}
main .hot .con{width: 100%;height: 430px;}
main .hot .con .left{width: 280px;height: 430px;float: left;}
main .hot .con .right ul li{float: left; width: 179px;height: 215px;text-align: center;border: 1px solid #DCDCDC;border-left: none;}
main .hot .con .right ul li img{width: 176px;}

main .shangxin{width: 100%;height: 1000px;}
main .shangxin .top{width: 100%;height: 100px; background: url(../img/imagesmeizhuang/temai.png)no-repeat center center;}
main .shangxin .sale-list{width: 100%;font-size: 14px;}
main .shangxin .sale-list ul li{width: 480px;float: left;margin:15px 0 0 15px;}
main .shangxin .sale-list ul li img{width: 480px;}
main .shangxin .sale-list ul li .z1{float: right;padding:10px 0 0 15px;}
main .shangxin .sale-list ul li .z2{float: left;padding:10px 0 0 15px;}
main .shangxin .sale-list ul li .z2 span{font-size: 18px;font-weight:bold; color: #EF0278;}
